<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"  />

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/css/all.min.css}"  />

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"  />

    <!-- Icon Image -->
    <link rel="icon" th:href="@{/images/blog_image.png}" />

    <title th:text="${appTitle}"></title>
</head>
</html>