<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="javascript">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/all.min.js}"></script>
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ge0mnxcqb40lpp8epnvavc6jymhzdxz331jzi5c8hmv6a5jb"></script>
    <script th:src="@{/js/custom.js}"></script>
</th:block>

</body>
</html>