<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- @Header section -->
<th:block th:insert="~{common/header :: header}"></th:block>

<body>

<!-- @Navbar section -->
<th:block th:insert="~{common/navbar :: navbar}"></th:block>

<hr>

<!-- @Content section -->
<div class="container">
    <div class="row mb-5">
        <div class="col-md-10 ml-auto mr-auto">

            <div class="card">
                <div class="card-header bg-light text-center font-weight-bold" style="font-family: 'Helvetica Neue'">
                    <h5 class="display-4">Update profile informations</h5>
                </div>
                <div class="card-body">

                    <!-- @Messages section -->
                    <th:block th:insert="~{common/messages :: messages}"></th:block>


                    <blockquote class="blockquote mb-0">
                        <form method="POST" th:object="${update_user}" th:action="@{/settings}" enctype="multipart/form-data">

                            <!-- @id field to save the entity object if null otherwise update it  -->
                            <input type="hidden" th:field="*{id}"/>

                            <div class="form-group">
                                <label for="usernameInput" class="font-weight-bold">Username</label>
                                <input type="text" th:field="*{username}" class="form-control"
                                       th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}"
                                       id="usernameInput"
                                       placeholder="Username..." required/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}"
                                     th:errors="*{username}">Username
                                    Error
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="firstNameInput" class="font-weight-bold">First name</label>
                                <input type="text" th:field="*{firstName}" class="form-control"
                                       th:classappend="${#fields.hasErrors('firstName') ? 'is-invalid' : ''}"
                                       id="firstNameInput"
                                       placeholder="First name..." required/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}"
                                     th:errors="*{firstName}">firstName
                                    Error
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastNameInput" class="font-weight-bold">Last name</label>
                                <input type="text" th:field="*{lastName}" class="form-control"
                                       th:classappend="${#fields.hasErrors('lastName') ? 'is-invalid' : ''}"
                                       id="lastNameInput"
                                       placeholder="Last name..." required/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}"
                                     th:errors="*{lastName}">lastName
                                    Error
                                </div>
                            </div>

                            <!-- @Update profile -->
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Save
                                </button>
                            </div>

                        </form>
                        <footer class="blockquote-footer" style="font-family: 'SF Pro Display'">Please provide valid
                            data
                        </footer>
                    </blockquote>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- @Footer section -->
<th:block th:insert="~{common/footer :: footer}"></th:block>

<!-- @Javascript Includes section -->
<th:block th:insert="~{common/js :: javascript}"></th:block>

</body>
</html>